body{
    background-color: rgb(234, 234, 234);
    margin: 0;
}
@font-face {
    font-family: 'VK-Meduim';
    src: url(/font/VKSansDisplay-Medium.ttf);
}

@font-face {
    font-family: 'VK-DemiBold';
    src: url(/font/VKSansDisplay-DemiBold.ttf);
}

@font-face {
    font-family: 'VK-Bold';
    src: url(/font/VKSansDisplay-Bold.ttf);
}

@font-face {
    font-family: 'VK-Regular';
    src: url(/font/VKSansDisplay-Regular.ttf);
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shap{
    display: flex;
    height: 50px;
    background-color:rgb(0, 153, 255);
}
.shap h2{
    margin-left: 15%;
    margin-top: 15px;
    color:white;
    font-family: 'VK_Medium';
}
.shap input{
    height: 15px;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 10%;
    background-color: rgba(187, 187, 199, 0.758);
}
.listmain{
    width: 10%;
}
.listmain .list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    
}
.list a{
    width:max-content;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-family: 'VK-Regular';
}
.list a:hover{
    color: white;
}
.profile{
    width: 35%;
    justify-items: center;
    width: 250px;
    margin-top: 2%;
    height: fit-content;
    font-family: 'VK-Regular';
}
.profile .image{
    padding-top: 5%;
    width: 230px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
.image button{
    width: 90%;
    background-color: lightgray;
    border: 1px solid rgb(160, 153, 153);
    margin: 0 auto;
    margin-bottom: 5px;
}
.text{
    width: 40%;
    margin-top: 30px;
    border-radius: 2%;
    padding: 15px;
    font-family: 'VK-Regular';
}
.text1{
    background-color: white;
    padding: 20px;
    border-radius:2%;
}
.contact{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.friends{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2%;
    padding: 10px;
}
.friendphoto{
    display: flex;
}
.fiendphoto img{
    width: 30%;
    border-radius: 10%;
    margin-left: 5px;
}
.friendphoto1 {
    display: flex;
}

.friendphoto1 img {
    border-radius: 10%;
    width: 31%;
    margin-left: 5px;
}
.address-text{
    margin-left: 30px;
}
.paramaters{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.size{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.boorder{
    border-bottom:ridge 1px black;
    width: 100%;
}
.paramaters-name{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 104%;
}
.space{
    width: 5%;
}
.photo{
    width: 96%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 2%;
}
.name-photo{
    margin-left: 20px;
    display: flex;
    align-items:center;
    align-self: start;
}
.name-photo h6{
    margin-left: 10px;
}
.photos{
    width: 79%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.photos img{
    width: 25%;
    display: flex;
    margin-left: 5%;
}
.blog{
    margin-top: 20px;
    background-color: white;
    border-radius: 2%;
}
.blog .acc{
    display: flex;
    padding: 10px;
}
.blog .text-blog{
    padding: 10px;
}